@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin,latin-ext);


body
{
	/*background-color: #f5f6f7;*/
	background-color: #fff;
	overflow-x: hidden;
}

.container
{
	background-color: #fff;
}

@media all and (min-width: 992px)
{
	.main
	{
		background-image: url(../img/frontpage/background.png);
	}
	
	.cnarrow /*narrowed container for top menu*/
	{
		padding-left: 120px;
		background-image: url(../img/frontpage/top-background.png);
		
		height: 80px;
		background-image: url(../img/frontpage/top-separator.png);
		background-repeat: repeat-x;
		background-position: 0px 70px;
	}
	
	.navbar-default
	{
		border: none;
		background-color: #fff;
		
		background-image: url(../img/frontpage/top-separator.png);
		background-repeat: repeat-x;
		background-position: 0px 62px;
	}
}

@media all and (max-width: 991px)
{
	.frontpage-position
	{
		margin: auto;
	}
	
	.logo
	{
		width: 100px;
	}
	.navbar-default
	{
		border: none;
		background-color: #fff;
		
		background-image: url(../img/frontpage/top-separator.png);
		background-repeat: repeat-x;
		background-position: 0px 62px;
	}
	
}



.list-group-item.active
{
	background-color: #999;
	border-color: #ddd;
}

.center { margin: auto; }
.purple { color: #e50071; }

a:hover.list-group-item.active
{
	background-color: #333;
}

.dropdown-menu li
	{
		display: block;
		width: 100%;
	}
	
	
.fullwidth
{
	width: 100%;
	background-color: #fff;
	margin: auto;
}

.frontpage-position
	{
		/*padding-top: 40px;*/
	}

.movedown1
{
	margin-top: 20px;
}

.moveright1
{
	margin-right: 5px;
}

.like-us
{
	margin-top: 4em;
}

.separator
{
	border-bottom: solid 1px #eee;
	margin: 10px 2px 10px 2px;
}

.frontpage-imagelist ul,li
{
	bullet-style: none;
	display: block;
}

.subcontent
{
	font-size: 13px;
	text-align: justify;
}

.btn-sm, .btn-group-sm>.btn
{
	background-color: #ddd;
	margin-bottom: 10px;
}

p 
{ 
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif; 
	color: #999;
}

h2
{
	font-family: 'Abril Fatface', cursive;
	color: #1eb5ea;
}

h4 
{ 
	font-family: Verdana, Geneva, sans-serif; 
	color: #999;
}

h5 
{ 
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px; 
	color: #999;
}

.footer
{
	padding: 15px 0 15px 0;
	text-align: right;
	color: #999;
	background-color: #000;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
	
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}


.cf-hw /*carousel frontpage height and width*/
{
	height: 300px;
}

.carousel-indicators .active
{
	background-color: #e9168c;
}

.carousel-indicators li
{
	border: 1px solid #e9168c;
}

.ccontainer
{
	padding: 30px 20px 10px 0;
}

.sep { height: 6em; }
