@CHARSET "UTF-8";


body
{
	background-color: #ddd;
}

.container
{
	background-color: #fff;
}

.fullwidth
{
	width: 100%;
	background-color: #fff;
	margin: auto;
}

.footer
{
	margin-top: 20px;
	text-align: right;
	color: #999;
	font-size: 12px;
}